body {
  background-color: #212121;
  color: #fff;
}

.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}
header button {
  border: none !important;
}
header button:focus {
  box-shadow: none !important;
}
header .navbar__cart {
  color: rgba(255, 255, 255, 0.55);
  justify-content: center;
  display: flex;
  gap: 8px;
  padding: 8px 0;
}
header .navbar__cart div {
  position: relative;
}
@media screen and (min-width: 992px) {
  header .navbar__cart p {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .navbar__cart {
    justify-content: end;
  }
}
header .navbar__cart:hover {
  color: rgba(255, 255, 255, 0.75);
}
header .logo img {
  height: 54px;
}
header .categoty-list {
  background-color: red !important;
  position: relative;
}

main {
  padding-top: 96px;
}

footer {
  height: 300px;
  display: flex;
  align-items: center;
  border-top: solid 1px var(--bs-secondary-border-subtle);
  background-color: var(--bs-tertiary-bg);
  margin-top: auto;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  footer .container {
    flex-direction: row;
    gap: 32px;
    margin-top: 0;
  }
}
footer img {
  height: 120px;
}
@media screen and (min-width: 768px) {
  footer img {
    justify-content: start;
  }
}
footer ul {
  border-left: none;
  display: flex;
  gap: 24px;
  height: 128px;
  padding-left: 16px;
  align-items: center;
  padding-left: 0;
}
@media screen and (min-width: 768px) {
  footer ul {
    padding-left: 16px;
    border-left: solid 1px var(--bs-secondary-border-subtle);
  }
}
footer ul li {
  list-style: none;
}
footer ul li a {
  text-decoration: none;
  color: var(--bs-highlight-color);
}
footer ul li a:hover {
  color: var(--bs-navbar-hover-color);
}
footer ul li a i {
  font-size: 32px;
}

.home__banner {
  background-image: url("https://images.unsplash.com/photo-1548768041-2fceab4c0b85?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: center;
  width: 100%;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home__sale__item {
  text-decoration: none;
  color: white;
  position: relative;
}
.home__sale__item__background {
  border-radius: 8px;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
  transition: opacity 0.5 ease-in-out;
}
.home__sale__item p {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
}
.home__sale__item:hover .home__sale__item__background {
  opacity: 0.5;
}
.home__sale__item:hover p {
  color: white;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  text-decoration: none !important;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
.product-card:hover {
  opacity: 0.7;
}

.breadcrumb-item a {
  text-decoration: none;
  color: #3d8bfd;
}

.breadcrumb-item.active,
.breadcrumb-item + .breadcrumb-item::before {
  color: #fff;
}

.product-container .product-info-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.product-container .product-info-container .product-imagen-container {
  margin: auto;
  padding: 8px;
  text-align: center;
  flex-grow: 4;
  background-color: white;
  border-radius: 8px;
}
.product-container .product-info-container .product-imagen-container img {
  width: 100%;
  object-fit: contain;
  max-height: 450px;
  max-width: 600px;
}
@media screen and (max-width: 992px) {
  .product-container .product-info-container .product-imagen-container img {
    max-height: 400px;
    max-width: 400px;
  }
}
.product-container .product-info-container .product-data-container {
  margin: 8px;
  padding: 16px;
  flex-grow: 1;
  max-width: 366px;
}
@media screen and (max-width: 992px) {
  .product-container .product-info-container .product-data-container {
    max-width: none;
  }
}
.product-container .product-info-container .product-data-container .product-cantidad-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.product-container .product-info-container .product-data-container .product-cantidad-container p {
  margin: auto 0;
  margin-right: 8px;
}
.product-container .product-info-container .product-data-container .product-cantidad-container input {
  width: 50px;
  text-align: right;
}
.product-container .product-info-container .product-data-container .product-button-container {
  margin: 16px 0px;
  display: flex;
  height: 48px;
  gap: 8px;
}
.product-container .product-info-container .product-data-container .product-button-container button {
  height: 100%;
}
.product-container .product-info-container .product-data-container .product-button-container button:first-child {
  flex: 1;
}
.product-container .product-info-container .product-data-container .product-button-container button:last-child {
  width: 48px;
}
.product-container .product-descripcion-container {
  padding: 16px;
  margin: 8px;
}
.product-container .counter {
  background-color: #343a40;
  width: 100%;
  margin: auto;
  height: 48px;
}
.product-container .counter button {
  background-color: #343a40;
  border: none;
  color: #fff;
  width: 48px;
  height: 100%;
  transition: background-color 0.15s ease-in-out;
}
.product-container .counter button:hover {
  background-color: #495057;
}

/*# sourceMappingURL=style.css.map */
